<html>
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/semantic.css'%}">
    <link rel="stylesheet" href="{% static 'css/highlights/github.css' %}">
    <link rel="stylesheet" media="screen" href="{% static 'css/style.css'%}">
    <title>mysite</title>
</head>

<body>
<!--段落容器-->
<div class="ui container segment">
    <!-- 导航栏 -->
    <div class="ui secondary blue menu">
        <a class="item" href="{% url 'mysite:index' %}">
            主页
        </a>
        <a class="item" href="{% url 'mysite:posts' %}">
            文章
        </a>
        <a class="item" href="{% url 'mysite:news' %}">
            资讯
        </a>
        <a class="item" href="{% url 'mysite:index' %}">
            其他
        </a>
        <div class="right menu">
            <div class="item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
            <a class="ui item">
                Logout
            </a>
        </div>
    </div>
    <!--段落主体  -->
    <div class="ui vertical segment">
        <!-- 主体 -->
        {% block content %}{% endblock %}
        <div class="ui basic center aligned segment">
            Copyright®2018 xppppd
        </div>
    </div>
    <!--<div id="particles-js"></div>-->
    <!--<script src="{% static 'js/particles.js'%}"></script>-->
    <!--<script src="{% static 'js/app.js'%}"></script>-->
</div>
</body>
</html>
