{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="ui grid">
    <div class="twelve wide column">
        <div class="ui segment">
            <div class="ui normal breadcrumb">
                <!--<a href="{% url 'mysite:posts' %}" class="section">全部文章</a>-->
                {% if cate %}
                <i class="right chevron icon divider"></i>
                <div class="active section">{{ cate.name }}</div>
                {% endif %}
                {% if year %}
                <i class="right chevron icon divider"></i>
                <div class="active section">{{ year }}年{{ month }}月文章</div>
                {% endif %}
            </div>
            <div class="ui list">
                {% for post in post_list %}
                <div class="item">
                    <div class="right floated content">
                        <div class="ui date">{{ post.created_time | date:'Y-m-d' }}</div>
                        <p></p>
                        <div class="ui date"><i class="ui grey eye icon"></i>{{ post.views }}</div>
                        <p></p>
                        <div class="ui date"></div>
                    </div>
                    <a href="{% url 'mysite:detail' post.id %}">{{ post.title }}</a>
                    <p></p>
                    <p id="excerpt">{{ post.excerpt }}</p>
                    <div class="ui divider"></div>
                </div>
                {% empty %}
                <div class="ui negative message">
                    <i class="close icon"></i>
                    <div class="header">
                        抱歉，没有查找到对应文章！
                    </div>
                    <p></p>
                    <p>请返回首页。</p>
                </div>
                {% endfor %}
            </div>

            {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                    <a href="/posts?page={{ page_obj.previous_page_number }}">上一页</a>
                    {% endif %}
                    {% if page_obj.has_next %}
                    <a href="/posts?page={{ page_obj.next_page_number }}">下一页</a>
                    {% endif %}
                    <span class="page-current">
                        第{{ page_obj.number }}页 ，共{{ page_obj.paginator.num_pages }}页。
                    </span>
                </span>
            </div>
            {% endif %}
        </div>
    </div>
    <!--侧边栏-->
    {% include 'right_column.html' %}
</div>
{% endblock %}
