{% load staticfiles %}
{% load mysite_tags %}
<div class="four wide column">
    <!-- 名片 -->
    <div class="ui big card">
        <div class="image">
            <img src="{% static '/images/matthew.png' %}">
        </div>
        <div class="content">
            <a class="header">xppppd</a>
            <div class="description">
                to be a better me.
            </div>
        </div>
        <div class="extra content">
            <a href="https://github.com/xppppd/" target="_blank">
                <i class="big purple Github icon"></i>
            </a>
            <a href="https://steamcommunity.com/profiles/76561198087178652/" target="_blank">
                <i class="big blue Steam Square icon"></i>
            </a>
        </div>
    </div>
    <!-- 常用链接 -->
    <div class="ui segment">
        <div class="ui header">
            <h3>常用链接</h3>
        </div>
        <div class="ui list">
            <div class="item">
                <a>我的云盘</a>
            </div>
            <div class="item">
                <a>FTP</a>
            </div>
            <div class="item">
                <a>腾讯云</a>
            </div>
        </div>
    </div>
    <div class="ui segment">
        <div class="ui header">
            <h3>文章分类</h3>
        </div>
        {% get_categories as category_list %}
        {% for category in category_list %}
        <div class="ui list">
            <div class="item">
                <a href="{% url 'mysite:category' category.pk %}">{{ category.name }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="ui segment">
        <div class="ui header">
            <h3>文章归档</h3>
        </div>
        {% archives as date_list %}
        {% for date in date_list %}
        <div class="ui list">
            <div class="item">
                <a href="{% url 'mysite:archives' date.year date.month %}">{{ date | date:'Y年m月文章归档' }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>